html {
  width: 100%;
}

.projects {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f1f1ee;
  background: #f9f9f7;
  z-index: -1;
  box-sizing: border-box;
}

// Project Cards //

.projects-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 75%;
}

.project {
  height: 200px;
}

.project-image {
  opacity: 1;
  display: block;
  height: 200px;
  width: 300px;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: relative;
  bottom: 180px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.project:hover .project-image {
  opacity: 0;
  cursor: pointer;
}

.project:hover .middle {
  opacity: 1;
  cursor: pointer;
}

.text {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 12% auto 0 auto;
  text-align: center;
  font-weight: normal;
}

.learn-more {
  position: relative;
  top: 60px;
  width: 50%;
  height: 40px;
  border: 1px solid #f82a7b;
  font-size: 1rem;
  background: #f9f9f7;

  &:hover {
    background: #f82a7b;
    color: white;
    cursor: pointer;
  }
}
