.projects-header {
  display: flex;
  justify-content: center;
  margin: 5% auto 0 auto;
}

.project-buttons {
  background: none;
  border: none;
  font-family: "Titillium Web", sans-serif;
  font-size: 2rem;
  height: 50px;
  margin: 5%;
  outline: none;
  width: 170px;

  &:hover {
    background: #f82a7b;
    border-radius: 2px;
    color: white;
    cursor: pointer;
  }

  &:focus {
    background: #f82a7b;
    border-radius: 2px;
    color: white;
    cursor: pointer;
  }
}
