main {
  min-height: 100vh;
}

.content-header {
  background-color: #282c34;
  border-bottom: 4px solid #17cddf;
  border-top: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  padding-right: 30%;
  height: 60px;
}

.home-icon {
  color: white;
  padding-top: 90%;
  font-size: 1.3rem;

  &:hover {
    color: #f82a7b;
    cursor: pointer;
  }
}

.nav-buttons {
  color: white;
  font-size: 1.2rem;
  border: none;
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
  padding-top: 5px;
  background: none;
  outline: none;

  &:hover {
    color: #f82a7b;
    cursor: pointer;
  }

  &:focus {
    color: #f82a7b;
  }
}

