// Header //

.content-header {
  background-color: #282c34;
  border-bottom: 4px solid #17cddf;
  border-top: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  padding-right: 30%;
  height: 60px;
}

.home-icon {
  color: white;
  padding-top: 90%;
  font-size: 1.3rem;

  &:hover {
    color: #f82a7b;
    cursor: pointer;
  }
}

.nav-buttons {
  color: white;
  font-size: 1.2rem;
  border: none;
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
  padding-top: 5px;
  background: none;
  outline: none;

  &:hover {
    color: #f82a7b;
    cursor: pointer;
  }

  &:focus {
    color: #f82a7b;
  }
}

#skills {
  padding-top: 30%;
}

#about {
  padding-top: 25%;
}

#project,
#resume,
#contact {
  padding-top: 20%;
}

#experience {
  padding-top: 14%;
}

// Main //

main {
  min-height: 100vh;
  display: flex;
  background: #f7f7f5;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
}

// Left Section of Main //

.left {
  text-align: left;
  padding-left: 10%;
}

h2 {
  padding-left: 11%;
  padding-top: 8%;
}

p {
  font-size: 1.1rem;
  width: 70%;
}

.p-about-me {
  position: relative;
  right: 10%;
}

.rhombus-outter,
.rhombus-outter div {
  filter: drop-shadow(4px 4px 4px #17cddf);
  height: 150px;
  margin: 5% 0 5% 12%;
  overflow: hidden;
  transform-origin: 35% 35%;
  width: 150px;
}

.rhombus-outter {
  transform: rotate(45deg) translateY(10px);
}
.rhombus-outter .rhombus {
  height: 355px;
  transform: rotate(-45deg) translateY(-74px);
  width: 210px;
}
.rhombus-outter .rhombus img {
  height: auto;
  width: 100%;
}

// Right Section of Main //

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 7%;
  position: relative;
  right: 7%;
}

.grandby {
  margin: 1%;
}

.hexa,
.hexa div {
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
  transform-origin: 50% 50%;
  width: 300px;
}

.hexa {
  filter: drop-shadow(5px 5px 5px #c8d2d3);
  height: 230px;
  width: 325px;
}
.hexa div {
  height: 100%;
  width: 100%;
}
.hexa {
  transform: rotate(120deg);
}
.hex1 {
  transform: rotate(-60deg);
}
.hex2 {
  transform: rotate(-60deg);
}

#second-hex {
  bottom: 16.3%;
  height: 230px;
  left: 62.3%;
  position: relative;
  width: 305px;
}

#third-hex {
  bottom: 32.8%;
  height: 230px;
  position: relative;
  width: 305px;
}

// Media Queiries //

@media (max-width: 900px) {
  main {
    flex-direction: column;
    position: relative;
    right: 4%;
  }

  p {
    margin: 0 auto;
    text-align: center;
  }

  .p-about-me {
    position: relative;
    right: 0;
  }

  h2 {
    text-align: center;
    padding-left: 0;
  }

  .rhombus-outter,
  .rhombus-outter div {
    margin: 5% 38% 5% auto;
  }

  #second-hex {
    bottom: 563.3%;
    left: 23.3%;
    position: relative;
  }

  #third-hex {
    bottom: 32.2%;

    position: relative;
  }

  .right {
    display: none;
  }
}

@media (max-width: 850px) {
  .rhombus-outter,
  .rhombus-outter div {
    margin: 5% 36% 5% auto;
  }
}

@media (max-width: 750px) {
  .rhombus-outter,
  .rhombus-outter div {
    margin: 5% 32% 5% auto;
  }

  .content-header {
    padding-right: 10%;
    height: 60px;
  }
}

@media (max-width: 550px) {
  .rhombus-outter,
  .rhombus-outter div {
    margin: 5% 28% 5% auto;
  }

  h2 {
    text-align: center;
    padding-left: 0;
    padding-top: 15%;
  }

  .content-header {
    padding-right: 5%;
    height: 50px;
  }

  .nav-buttons {
    font-size: 1rem;
  }

  .home-icon {
    font-size: 1rem;
    padding-top: 100%;
  }
}

@media (max-width: 420px) {
  .content-header {
    display: none;
  }
}

@media (max-width: 380px) {
  .rhombus-outter,
  .rhombus-outter div {
    margin: 5% 22% 5% auto;
  }

  h2 {
    text-align: center;
    padding-left: 0;
    padding-top: 15%;
  }

  .content-header {
    padding-right: 5%;
    height: 40px;
  }

  .nav-buttons {
    font-size: 0.6rem;
    padding-top: 30px;
  }

  .home-icon {
    font-size: 0.8rem;
    padding-top: 70%;
  }
}
