main {
  min-height: 100vh;
}

.content-header {
  background-color: #282c34;
  border-bottom: 4px solid #17cddf;
  border-top: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  padding-right: 30%;
}

h2 {
  color: white;
  font-size: 1.2rem;

  &:hover {
    color: #f82a7b;
    cursor: pointer;
  }
}
