// Skills Card //

.cards-container {
  display: flex;
  justify-content: left;
}

.skills-card {
  background-color: #e4eeef;
  display: flex;
  flex-direction: column;
  height: 550px;
  margin: 10% 0 0 5%;
  overflow: scroll;
  padding: 0;
  width: 50%;
}

.skills {
  display: flex;
}

// Each Skills Row //

.skill {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

h5 {
  font-size: 1rem;
  margin: 10% 0 0 5%;
  padding: 0;
  text-decoration: underline;
}

.logo {
  margin-left: 10%;

  &:hover {
    cursor: pointer;
    filter: invert(0.4) saturate(20) hue-rotate(360deg) brightness(1.2);
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0;
  padding: 0;
}

// JavaScript Row //

.p-one {
  font-size: 1rem;
  margin: 0 10% 0 24%;
}

// HTML/CSS Row //

.p-two {
  font-size: 1rem;
  margin-bottom: 0;
  padding-left: 10%;
}

// Native-Apps Row //

#r-native {
  padding-right: 10%;
  position: relative;
  right: 30%;
}
#r-native-text {
  position: relative;
  right: 25%;
  width: 90px;
}

// Back-End Row //

#back-end {
  width: 90px;
}

// Other Row //

#travis-text {
  width: 90px;
}

// Rules that apply to many rows //

.p-three,
.p-four,
.p-five {
  font-size: 1rem;
  margin-bottom: 0;
}

#knex,
#postman,
#jest {
  position: relative;
  right: 30%;
}

#knex-text {
  position: relative;
  right: 10%;
}

#postman-text,
#mocha-text {
  position: relative;
  right: 20%;
}
